

<h1>Publications</h1>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Journal</th>
      <th>Publisher</th>
      <th>Publish date</th>
      <th>Other contributors</th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.journal %></td>
        <td><%= publication.publisher %></td>
        <td><%= publication.publish_date %></td>
        <td><%= publication.other_contributors %></td>
        <td><%= link_to 'Show', publication %></td>
        <% if logged_in? and current_faculty.admin  %>
          <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
          <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path if logged_in? and current_faculty.admin %>
