<div class="qualification">
  <div>
    <td><%= qualification.degree_name %></td>
    <td><%= qualification.degree_major %></td>
    <td><%= qualification.institution %></td>
    <td><%= qualification.year %></td>

    <td><%= link_to "Delete", [@faculty, qualification], method: :delete %></td>
  </div>
</div>