<p id="notice"><%= notice %></p>

<style>
  table {
    font-family: arial, sans-serif;
    border-color: #2E2F30;
    width: 40%;
  }
  th{
    background-color: #dddddd;
  }
  th,td{
    border: 1px solid #283224;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Faculties in <%= Department.find(@dept_id).name %> Department</h1>
<table>
  <thead>
  <tr>
    <th>Faculty Name</th>
    <th>Designation</th>
  </tr>
  </thead>

  <tbody>
  <% Faculty.where(:department_id => @dept_id).each do |faculty| %>
      <tr>
        <td><%= faculty.first_name %> <%= faculty.last_name %></td>
        <td><%= faculty.designation %></td>
        <td><%= link_to 'Show', faculty %>
        <%  if logged_in? and current_faculty.admin %>
          <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
          <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', faculties_path%>