
<h1>Faculties</h1>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }

  #tdd, #thh {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th{
    background-color: #dddddd;
  }
  th,td{
    text-align: left;
    padding: 8px;
  }
  #butt{
    margin-left: 10px;
  }
</style>
<table>
  <thead>
    <tr>
      <th id="thh">Faculty Name</th>
      <th id="thh">Designation</th>
      <th id="thh">Dept</th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td id="tdd"><%= faculty.first_name %> <%= faculty.last_name %></td>
        <td id="tdd"><%= faculty.designation %></td>
        <td id="tdd"><%= faculty.department.name %></td>

        <td><%= link_to 'Show', faculty %></td>

        <% if logged_in? and current_faculty.admin %>
          <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
          <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? and current_faculty.admin  %>
  <%= link_to 'New Faculty', new_faculty_path %>
<% end %>

<br><br>
<%= form_tag :action => 'department_wise'  do %>

    <i class="h3">Search Faculties by Department</i>
    <br><br>
    <p class="h4">Select Department</p>
    <%= select("faculty", "department_id", Department.all.collect {|d| [ d.name, d.id ] }) %>
    <a id="butt"><%= submit_tag("Submit" ,style:"width:80px;")%></a>
<% end %>