<br>
<h2>Courses taken by <%= @faculty.first_name%> <%= @faculty.last_name%> </h2>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color: #dddddd;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<table style="width: 50%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Credits</th>
    <th>LTP</th>
    <th>Course Type</th>
    <th>Academic Degree</th>
    <th>Department</th>
  </tr>
  </thead>

  <tbody>
  <% @faculty.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.credits %></td>
        <td><%= course.ltp %></td>
        <td><%= course.course_type %></td>
        <td><%= course.academic_degree.name %></td>
        <td><%= course.department.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br><br>
<%  if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id)  %>
  <%= form_tag :action => 'add_course'  do %>

      <h5>Select Course to Add</h5>
      <%= select("add", "add_course_id", Course.all.collect {|p| [ p.name, p.id ] }) %>
      <span style="margin-left: 12px"><%= submit_tag("Add") %></span>

  <% end %>
<br>
  <%= form_tag :action => 'del_course'  do %>

      <h5>Select Course to Remove</h5>
      <%= select("del", "del_course_id", @faculty.courses.collect {|p| [ p.name, p.id ] }) %>
      <span style="margin-left: 12px"><%= submit_tag("Remove") %></span>

  <% end %>
  <br>
<% end %>
<br>
<%= link_to 'Back', faculty_path%>