<br>
<h2>Projects of <%= @faculty.first_name%> <%= @faculty.last_name%> </h2>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<table style="width: 75%">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Funding agency</th>
    <th>Fund amount</th>
    <th>Due date</th>
    <th>Other contributors</th>
  </tr>
  </thead>

  <tbody>
  <% @faculty.projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.funding_agency %></td>
        <td><%= project.fund_amount %></td>
        <td><%= project.due_date %></td>
        <td><%= project.other_contributors %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id)  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br><br>
<%  if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id) %>
  <%= form_tag :action => 'add_project'  do %>

      <h5>Select Project to Add</h5>
      <%= select("add", "add_project_id", Project.all.collect {|p| [ p.title, p.id ] }) %>
      <span style="margin-left: 12px"><%= submit_tag("Add") %></span>

  <% end %>
<br>
  <%= form_tag :action => 'del_project'  do %>

      <h5>Select Project to Remove</h5>
      <%= select("del", "del_project_id", @faculty.projects.collect {|p| [ p.title, p.id ] }) %>
      <span style="margin-left: 12px"><%= submit_tag("Remove") %></span>

  <% end %>

  <br>

  <%= link_to 'Create Project', new_project_path%>
<br>
<%end%>

<%= link_to 'Back', faculty_path%>