<strong class="h2">FACULTY PROFILE</strong>
<br>
<style>
  *{
    font-size: medium;
  }
  #tab, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
</style>
<br>
<table id="tab" style="width:50%">
  <tr>
  <th>Name:</th>
  <td>
    <%= @faculty.first_name %>
    <%= @faculty.middle_name %>
    <%= @faculty.last_name %>
  </td>
  </tr><tr>
  <th>Designation:</th>
  <td><%= @faculty.designation %></td>
  </tr><tr>
  <th>Joining date:</th>
  <td><%= @faculty.joining_date %></td>
  </tr><tr>
  <th>Office phone no:</th>
  <td><%= @faculty.office_phone_no %></td>
  </tr><tr>
  <th>Mobile no:</th>
  <td><%= @faculty.mobile_no %></td>
  </tr><tr>
  <th>Birth date:</th>
  <td><%= @faculty.birth_date %></td>
  </tr><tr>
  <th>Gender:</th>
  <td><%= @faculty.gender %></td>
  </tr><tr>
  <th>Office address:</th><br>
  <td>
  <%= @faculty.office_address_locality %>,<br>
  <%= @faculty.office_address_city %>,
  <%= @faculty.office_address_state %>,<br>
  <%= @faculty.office_address_country %>-
  <%= @faculty.office_address_pin_code %>
  </td>
  </tr>
  <tr>
  <th>Home address:</th><br>
  <td>
  <%= @faculty.home_address_locality %>,<br>
  <%= @faculty.home_address_city %>,
  <%= @faculty.home_address_state %>,<br>
  <%= @faculty.home_address_country %>-
  <%= @faculty.home_address_pin_code %>
  </td></tr>
  <tr>
  <th>Email:</th>
  <td><%= @faculty.email %></td>
  </tr><tr>
  <th>Department:</th>
  <td><%= @faculty.department.name %></td>
  </tr><tr>
  <th>Admin:</th>
  <td><% if @faculty.admin %>
      <%= 'Yes' %>
  <% else %>
      <%= 'No' %>
  <% end %>
  </td></tr>
<% if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id) %>
  <%= link_to 'Edit details', edit_faculty_path(@faculty) %>
<%end%>
</table>
<table  id="tab" style="width:50%">
<br>
<tr>
<th><strong>Achievements</strong></th>
<td>
<div id="achievements">
  <%= render @faculty.achievements %>
</div>
</td>
<% if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id)  %>
  <div>
    <%= form_for([@faculty, @faculty.achievements.new]) do |f| %>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <div class="actions">
          <%= f.submit "Add New Achievement" %>
        </div>
    <% end %>
  </div>
<% end %>
</tr>
<tr>
<th><strong>Experiences</strong></th>
<td>
<table style="font-size: small">
  <thead>
  <tr>
    <th>Description</th>
    <th>Institute</th>
    <th>Duration</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <div id="experiences">
      <%= render @faculty.experiences %>
    </div>
  </tr>
  </tbody>
</table>
</td>
<% if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id) %>
  <div>
    <%= form_for([@faculty, @faculty.experiences.new]) do |f| %>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.label :institute %>
          <%= f.text_field :institute %>
        </div>
        <div class="field">
          <%= f.label :duration %>
          <%= f.number_field :duration %>
        </div>

        <div class="actions">
          <%= f.submit "Add New Experience" %>
        </div>
    <% end %>
  </div>
<% end %>
</tr>
<tr>
<th><strong>Qualifications</strong></th>
<td>
<table style="font-size: small">
  <thead>
  <tr>
    <th>Degree Name</th>
    <th>Degree Major</th>
    <th>Institution</th>
    <th>Year</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <div id="qualifications">
      <%= render @faculty.qualifications %>
    </div>
  </tr>
  </tbody>
</table>
</td>
<%  if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id) %>
<div>
  <%= form_for([@faculty, @faculty.qualifications.new]) do |f| %>

      <div class="field">
        <%= f.label :degree_name %>
        <%= f.text_field :degree_name %>
      </div>

      <div class="field">
        <%= f.label :degree_major %>
        <%= f.text_field :degree_major%>
      </div>

      <div class="field">
        <%= f.label :institution %>
        <%= f.text_field :institution %>
      </div>

      <div class="field">
        <%= f.label :year %>
        <%= f.number_field :year %>
      </div>

      <div class="actions">
        <%= f.submit "Add New Qualification" %>
      </div>
  <% end %>
</div>

<% end %>
</tr>
<tr>
<th><strong>Interest Areas</strong></th>

  <td>
<div id="interest_areas">
  <%= render @faculty.interest_areas %>
</div>
  </td>
<% if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id) %>
  <div>
    <%= form_for([@faculty, @faculty.interest_areas.new]) do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="actions">
          <%= f.submit "Add New Interest Area" %>
        </div>
    <% end %>
  </div>
<% end %>
<br>
</tr>
</table>

<br><br>
<%= link_to 'See Courses', see_courses_faculty_path %>
<br>
<%= link_to 'See Projects', see_projects_faculty_path %>
<br>
<%= link_to 'See Publications', see_publications_faculty_path %>
<br>
<%= link_to 'See Leave Applications', see_leave_applications_faculty_path  if logged_in? and (current_faculty.admin or current_faculty.id == @faculty.id)  %>
<br>

<%= link_to 'Back', faculties_path %>

