
<br><br>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
</style>
<table style="width:40%">
<tr>
  <th><strong>Name:</strong></th>
  <td><%= @department.name %></td>
</tr>

<tr>
  <th><strong>Department Type:</strong></th>
  <td><%= @department.department_type%></td>
</tr>

<tr>
  <th><strong>Department Head:</strong></th>
  <td><% unless @department.department_head_id.nil?%>
    <%= Faculty.find(@department.department_head_id).first_name %> <%= Faculty.find(@department.department_head_id).last_name %>
  <% else %>
    <%= 'Not Assigned'%>
  <% end %></td>
</tr>
</table>
<br><br>
<% if logged_in? and current_faculty.admin  %>
  <%= link_to 'Edit', edit_department_path(@department) %>
<% end %>
<h4>Academic Degrees offered by <%= @department.name%> Department</h4>

<table style="width: 40%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Programme</th>
    <th>Minimum Duration(Years)</th>
  </tr>
  </thead>

  <tbody>
  <% @department.academic_degrees.each do |academic_degree| %>
      <tr>
        <td><%= academic_degree.name %></td>
        <td><%= academic_degree.programme %></td>
        <td><%= academic_degree.min_duration %></td>

      </tr>
  <% end %>
  </tbody>
</table>
<br>
<% if logged_in? and current_faculty.admin  %>
  <%= form_tag :action => 'add_academic_degree'  do %>

      <h5>Select Course to Add</h5>
      <%= select("add", "add_academic_degree_id", AcademicDegree.all.collect {|d| [ d.name, d.id ] }) %>
        <span style="margin-left: 8px"><%= submit_tag("Add") %></span>

  <% end %>
    <br>
  <%= form_tag :action => 'del_academic_degree'  do %>

      <h5>Select Course to Remove</h5>
      <%= select("del", "del_academic_degree_id", @department.academic_degrees.collect {|d| [ d.name, d.id ] }) %>
      <span style="margin-left: 8px"><%= submit_tag("Remove") %></span>

  <% end %>
<br>
<% end %>
<%= link_to 'Back', departments_path %>
