
<h1>Leave Applications</h1>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color: #dddddd;
  }
  td, th {
    border: 1px solid #112d32;
    text-align: left;
    padding: 8px;
  }
</style>
<table style="width: 60%">
  <thead>
  <tr>
    <th>Faculty Name</th>
    <th>Department</th>
    <th>Leaving Date</th>
    <th>No of Days</th>
    <th>Reason</th>
    <th>Approved</th>
  </tr>
  </thead>

  <tbody>
  <% LeaveApplication.all.each do |leave_application| %>
      <tr>
        <div id="leave_applications">
          <td><%= leave_application.faculty.first_name%> <%= leave_application.faculty.last_name%></td>
          <td><%= leave_application.faculty.department.name %></td>
          <td><%= leave_application.leaving_date %></td>
          <td><%= leave_application.no_of_days %></td>
          <td><%= leave_application.reason %></td>
          <td>
            <% if leave_application.approved %>
                <%= 'Approved' %>
            <% else %>
                <%= 'Not Approved' %>
            <% end %>
          </td>
          <td>
            <%= button_to 'Approve', {:controller => "homes", :action => "approve_leaves", :al_id => leave_application.id} , :method=>:post  %>
          </td>

        </div>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

