<h2>Faculty Information System</h2>
<br>
<br>

<div>
  <div><%= link_to 'Departments', departments_path %> </div>
  <div><%= link_to 'Academic Degrees', academic_degrees_path %></div>
  <div><%= link_to 'Courses', courses_path %></div>
  <div><%= link_to 'Faculties', faculties_path %></div>
  <div><%= link_to 'Faculty Leave Applications', approve_leaves_path %></div>
  <div><%= link_to 'Projects', projects_path %></div>
  <div><%= link_to 'Publications', publications_path %></div>


</div>

