<p id="notice"><%= notice %></p>

<h1>Academic Degrees in <%= @prog %> Programme</h1>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color: #dddddd;
  }
  td, th {
    border: 1px solid #112d32;
    text-align: left;
    padding: 8px;
  }
</style>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Minimum Duration(Years)</th>

  </tr>
  </thead>

  <tbody>
  <% AcademicDegree.where(:programme => @prog).each do |academic_degree| %>
      <tr>
        <td><%= academic_degree.name %></td>
        <td><%= academic_degree.min_duration %></td>
        <td><%= link_to 'Show', academic_degree %></td>
        <% if logged_in? and current_faculty.admin  %>
          <td><%= link_to 'Edit', edit_academic_degree_path(academic_degree) %></td>
          <td><%= link_to 'Destroy', academic_degree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

