
<p>
  <strong>Name:</strong>
  <%= @academic_degree.name %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @academic_degree.programme %>
</p>

<p>
  <strong>Minimum Duration(Years):</strong>
  <%= @academic_degree.min_duration %>
</p>

<% if logged_in? and current_faculty.admin %>
  <%= link_to 'Edit', edit_academic_degree_path(@academic_degree) %>
<% end %>

<h1>Departments offering <%= @academic_degree.name %></h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Department Type</th>
    <th>Department Head</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @academic_degree.departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.department_type %></td>
        <td>
          <% unless department.department_head_id.nil?%>
              <%= Faculty.find(department.department_head_id).first_name %> <%= Faculty.find(department.department_head_id).last_name %>
          <% else %>
              <%= 'Not Assigned'%>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if logged_in? and current_faculty.admin %>
  <%= form_tag :action => 'add_department'  do %>

      <h4>Select Department to Add</h4>
      <%= select("add", "add_department_id", Department.all.collect {|d| [ d.name, d.id ] }) %>
      <%= submit_tag("Add") %>

  <% end %>

  <%= form_tag :action => 'del_department'  do %>

      <h4>Select Department to Remove</h4>
      <%= select("del", "del_department_id", @academic_degree.departments.collect {|d| [ d.name, d.id ] }) %>
      <%= submit_tag("Remove") %>

  <% end %>
<% end %>
<br>
<%= link_to 'Back', academic_degrees_path %>
