<p id="notice"><%= notice %></p>

<h1>Courses offered in <%=  AcademicDegree.find(@degree_id).name %> </h1>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color: #dddddd;
  }
  td, th {
    border: 1px solid #112d32;
    text-align: left;
    padding: 8px;
  }
</style>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Credits</th>
    <th>Ltp</th>
    <th>Course type</th>
    <th>Academic Degree</th>

  </tr>
  </thead>

  <tbody>
  <% Course.where(:academic_degree_id => @degree_id).each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.credits %></td>
        <td><%= course.ltp %></td>
        <td><%= course.course_type %></td>
        <td><%= course.academic_degree.name %></td>
        <td><%= link_to 'Show', course %></td>
        <% if logged_in? and current_faculty.admin  %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to "Back", courses_path%>