<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
</style>
<br><br>
<table style="width: 40%">
<tr>
  <th><strong>Course Name:</strong></th>
  <td><%= @course.name %></td>
</tr>

<tr>
  <th><strong>Credits:</strong></th>
  <td><%= @course.credits %></td>
</tr>

<tr>
  <th><strong>LTP:</strong></th>
  <td><%= @course.ltp %></td>
</tr>

<tr>
  <th><strong>Course Type:</strong></th>
  <td><%= @course.course_type %></td>
</tr>

<tr>
  <th><strong>Academic Degree:</strong></th>
  <td><%= @course.academic_degree.name %></td>
</tr>

<tr>
  <th><strong>Department:</strong></th>
  <td><%= @course.department.name %></td>
</tr>
</table>
<% if logged_in? and current_faculty.admin %>
  <%= link_to 'Edit Details', edit_course_path(@course) %>
<% end %>

<br><br>
<h3>Pre-Requisites</h3>

<span id="pre_requisites">
  <%= render @course.course_pre_requisites %>
</span>

<% if logged_in? and current_faculty.admin %>
  <span>
    <%= form_for([@course, @course.course_pre_requisites.new]) do |f| %>
        <div class="field">
          <%= f.label :course_pre_requisite_id %>
          <%= f.select :course_pre_requisite_id, options_for_select(Course.all.map{ |c| [c.name, c.id ] }) %>

        </div>

        <div class="actions">
          <%= f.submit "Add New Prerequisite" %>
        </div>
    <% end %>
  </span>
<%end%>
<br>
<h3>Faculties who have taught this course</h3>

<table>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Designation</th>
    <th>Email</th>
    <th>Department</th>
  </tr>
  </thead>

  <tbody>
  <% @course.faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.first_name %></td>
        <td><%= faculty.last_name %></td>
        <td><%= faculty.designation %></td>
        <td><%= faculty.email %></td>
        <td><%= faculty.department.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if logged_in? and current_faculty.admin %>
  <%= form_tag :action => 'add_faculty'  do %>

      <h5>Select Faculty to Add</h5>
      <%= select("add", "add_faculty_id", Faculty.all.collect {|f| [ f.first_name+" "+f.last_name, f.id ] }) %>
      <span style="margin-left: 8px"><%= submit_tag("Add") %></span>

  <% end %>

  <%= form_tag :action => 'del_faculty'  do %>

      <h5>Select Faculty to Remove</h5>
      <%= select("del", "del_faculty_id", @course
          .faculties.collect {|f| [ f.first_name+" "+f.last_name, f.id ] }) %>
      <span style="margin-left: 8px"><%= submit_tag("Remove") %></span>

  <% end %>
<% end %>
<br>
<%= link_to 'Back', courses_path %>
