<%= form_with(model: leave_application, local: true) do |form| %>
  <% if leave_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leave_application.errors.count, "error") %> prohibited this leave_application from being saved:</h2>

      <ul>
      <% leave_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :faculty_id %>
    <%= form.text_field :faculty_id, id: :leave_application_faculty_id %>
  </div>

  <div class="field">
    <%= form.label :leaving_date %>
    <%= form.date_select :leaving_date, id: :leave_application_leaving_date %>
  </div>

  <div class="field">
    <%= form.label :no_of_days %>
    <%= form.number_field :no_of_days, id: :leave_application_no_of_days %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_area :reason, id: :leave_application_reason %>
  </div>

  <div class="field">
    <%= form.label :approved %>
    <%= form.check_box :approved, id: :leave_application_approved %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
