<p id="notice"><%= notice %></p>

<p>
  <strong>Faculty Name:</strong>
  <%= @leave_application.faculty.first_name %>
</p>

<p>
  <strong>Leaving Date:</strong>
  <%= @leave_application.leaving_date %>
</p>

<p>
  <strong>No of Days:</strong>
  <%= @leave_application.no_of_days %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @leave_application.reason %>
</p>

<p>
  <strong>Approved:</strong>
  <% if @leave_application.approved %>
    <%= 'Approved' %>
  <% else %>
    <%= 'Not Approved' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_leave_application_path(@leave_application) %> |
<%= link_to 'Back', leave_applications_path %>
