<!DOCTYPE html>
<html>
  <head>
    <title>Faculty Information System</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% flash.each do |key, value| %>
      <p id='<%= key %>'><%= value %></p>
  <% end %>

  <header>
    <div id="head1">
      <% if logged_in? %>
          <div style='float: right;'>
            <% link_to "Home", root_path%>
            <%= link_to "Profile",  faculty_path(current_faculty.id) %>
            Logged in as <%= current_faculty.first_name %> <%= current_faculty.last_name %>|
            <%= link_to "Logout", logout_path, method: :delete %>
          </div>
      <% else %>
          <div style="float: right">
            <br>
          <%= form_for(:faculty, url: sessions_path) do |f| %>

              <span class="field"><%= f.text_field :email , :placeholder => "Email "%></span>


              <span class="field"><%= f.password_field :password , :placeholder => "Password"%></span>

              <span class="actions"><%= f.submit "Login" %></span>
          <% end %>
          </div>
      <% end %>
    </div>
  </header>


    <%= yield %>
  </body>
</html>
